/*DESKTOP*/
@media screen and (min-width: 768px){
    nav {
        display: flex;
        align-items: center;
        background-color: grey;
    }

    main {
        display: flex;
        
    }

    body {
        margin: 0;
        background-color: white;
        color: white;
    }

    body.dark-mode {
        margin: 0;
        background-color: black;
        color: black;
    }

    ul {
        display: flex;
        list-style-type: none;
        gap: 1em;
    }

    ul:hover {
        cursor: pointer;
    }

    .ball-icon {
        display: flex;
        cursor: pointer;
    }
}





/*MOBILE*/

@media screen and (max-width: 768px){
    nav {
        display: flex;
        align-items: center;
        background-color: grey;
    }

    body {
        margin: 0;
    }

    ul {
        display: flex;
        list-style-type: none;
        gap: 1vw;
    }
}

